html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue";
}

.hero {
    background:linear-gradient(to right,rgb(204, 0, 255) ,#0059ff);
    color: white;
    padding: 50px 30px;
    text-align: center;
}

.hero::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 10px ;
    background:linear-gradient(to left,rgb(204, 0, 255) ,#0059ff);
}


.hero h1 {
    font-weight: normal;
    font-size: 6rem;
    margin:0;
}
.hero h2 {
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}


footer{
    height: 50px;
    background:linear-gradient(to left,rgb(204, 0, 255) ,#0059ff);
}